#contato {
  padding: 4rem 1.25rem 12.5rem; 
  background-image: url("../assets/Background_Contacts.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; 
  margin-bottom: 2.1875rem; 
}

#contato h2 {
  font: var(--subtitle2);
  color: var(--purple);
  margin-bottom: 0.625rem; 
}

#contato span {
  font: var(--heading2);
  color: var(--text-color-primary);
  margin-bottom: 1.25rem; 
}

#contato .contatos p {
  font: var(--text-md);
  color: var(--gray-500);
  margin-bottom: 2.5rem; 
}

#contato .contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; 
}

.contato-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem; 
  padding: 1.25rem; 
  width: 25rem; 
  background-color: var(--gray-300);
  border-radius: 0.5rem; 
  text-decoration: none;
  color: var(--gray-500);
  font: var(--text-md);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.contato-link img.icon {
  margin-right: 0.75rem; 
  width: 1.5rem; 
  height: 1.5rem; 
  transition: filter 0.3s ease;
}

.contato-link div.arrow-container {
  margin-left: auto;
}

.contato-link div img {
  width: 1.25rem; 
  height: 1.25rem; 
  transition: filter 0.3s ease;
}

.contato-link:hover img.icon,
.contato-link:hover div img {
  filter: brightness(0) saturate(100%) invert(42%) sepia(39%) saturate(595%)
    hue-rotate(171deg) brightness(94%) contrast(89%);
}

.contato-link:hover {
  box-shadow: 0 0 0.5rem var(--blue); 
}

a:hover {
  color: var(--gray-500);
}
