header {
  background-image: url("../assets/Background_Intro.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.profile-wrapper {
  position: relative; /* Isso é importante para que o ícone seja posicionado em relação a essa div */
  width: 140px; /* Largura total da imagem + espaço para o ícone */
  height: 140px; /* Altura total */
}

.profile-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid var(--red);
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#code {
  position: absolute;
  width: 55px;
  height: 40px;
  object-fit: cover;
  bottom: 35px;  
  right: 5px;   
  z-index: 10;  
}





@media (max-width: 1024px) {
  .profile-wrapper {
    width: 100px; 
    height: 100px;
  }

  .profile-pic {
    width: 80px;  
    height: 80px;
  }

  #code {
    width: 50px;  
    height: 45px;
    bottom: 5px;  
    right: -15px;
  }
}

@media (max-width: 768px) {
  .profile-wrapper {
    width: 80px;  
    height: 80px;
  }

  .profile-pic {
    width: 60px; 
    height: 60px;
  }

  #code {
    width: 45px;  
    height: 40px;
    bottom: -15px;  
    right: -35px;
  }
}

@media (max-width: 480px) {
  .profile-wrapper {
    width: 60px;  
    height: 60px;
  }

  .profile-pic {
    width: 50px;
    height: 50px;
  }

  #code {
    width: 40px;  
    height: 35px;
    bottom: -15px;
      
  }
}

.intro-text p {
  margin: 10px 0;
  font: var(--subtitle2);
  color: var(--gray-500);
  letter-spacing: 3px;
}

.intro-text h1 {
  font: var(--heading1);
  margin-bottom: 20px;
}

.intro-text span {
  font: var(--subtitle2);
  color: #e3646e;
}

.social-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 12px;
  width: 754px;
  height: 40px;
  margin: 0 auto;
  margin-top: 52px;
  padding: 0;
}

.social-icons a {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centraliza ícones e texto verticalmente */
  justify-content: center;
  padding: 8px 16px;
  width: auto; /* Definido conforme as especificações */
  height: 40px; /* Definido conforme as especificações */
  background: #292c34; /* Base/gray-300 */
  border-radius: 999px; /* Deixa o fundo arredondado */
  text-decoration: none;
  color: var(--gray-500); /* Base/gray-500 */
  font: var(--text-lg); /* Fonte definida */
  font-size: var(--subtitle);
  line-height: 22px;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transições suaves */
}

.social-icons a:hover {
  background-color: #444; /* Cor mais escura no hover */
  transform: translateY(-2px); /* Efeito de elevação no hover */
}

/* Tamanho e espaçamento dos ícones */
.social-icons a img {
  width: 24px;
  height: 24px;
}

/* Ícone GitHub */
.github-icon {
  width: 50px;
  height: 22px;
  background-color: #333;
}

/* Posicionamento e ajuste de cada ícone */
.social-icons a img {
  position: relative;
  left: 0;
  top: 0;
  margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

.scroll-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  color: var(--gray-400);
  animation: bounce 2s infinite;
  
}

.scroll-indicator i {
  /* margin: 0; */
  margin-top: 5rem;
  padding: 0;
  line-height: 0.5;
}

.scroll-indicator .second-arrow {
  margin-top: -8px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
